<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>餐桌列表</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <script src="assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="assets/js/jquery.min.js"></script>
    <script src="../js/common/vue.js"></script>
</head>

<body data-type="widgets">
<script src="assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <span class="vue-user-info">
        <user-header :merchant-name="merchantName"></user-header>
    </span>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>

    <div class="left-sidebar">
        <left-nav v-for="(navObj, index) in navList" :key="index" :nav-object="navObj"
                  :current-parent-nav="navMap.parent"
                  :current-child-nav="navMap.child"></left-nav>
    </div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">餐桌列表</div>


                        </div>
                        <div class="widget-body am-fr">
                            <div class="am-u-sm-12">
                                <table id="doc-modal-list" width="100%"
                                       class="am-table am-table-compact am-table-striped tpl-table-black ">
                                    <thead>
                                    <tr>
                                        <th>桌号</th>
                                        <th>状态</th>
                                        <th>可坐人数</th>
                                        <th>已坐人数</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="table in tableList" class="even gradeC">
                                        <td class="am-text-middle">{{table.tableNo}}</td>
                                        <td class="am-text-middle">{{tableStatus[table.bookStatus]}}</td>
                                        <td class="am-text-middle">{{table.capacity}}</td>
                                        <td class="am-text-middle">{{table.sitReal}}</td>
                                        <td class="am-text-middle">
                                            <div class="tpl-table-black-operation">
                                                <a href="javascript:;"
                                                   @click="editTableModal(table.id,table.tableNo,table.bookStatus,table.sitReal,table.capacity)">
                                                    <i class="am-icon-pencil"></i> 编辑
                                                </a>
                                                <a @click="deleteTable(table.id)" href="javascript:;"
                                                   class="tpl-table-black-operation-del">
                                                    <i class="am-icon-trash"></i> 删除
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- more data -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="am-modal am-modal-no-btn" tabindex="-1" id="your-modal">
            <div class="am-modal-dialog" style="background: transparent">
                <div class="am-modal-hd"></div>
                <div class="am-modal-bd">
                    <div class="row-content am-cf">
                        <div class="row">
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <div class="widget am-cf">
                                    <div class="widget-head am-cf">
                                        <div class="widget-title am-fl">编辑餐桌</div>
                                        <div class="widget-function am-fr">
                                            <a href="javascript:;" class="am-icon-cog"></a>
                                        </div>
                                    </div>
                                    <div class="widget-body am-fr">
                                        <form class="am-form tpl-form-line-form">
                                            <div class="am-form-group">
                                                <label class="am-u-sm-3 am-form-label">桌号</label>
                                                <div class="am-u-sm-9">
                                                    <input type="text" class="tpl-form-input" v-model="tableNo"
                                                           placeholder="桌号">
                                                </div>
                                            </div>

                                            <div class="am-form-group">
                                                <label class="am-u-sm-3 am-form-label">分类</label>
                                                <div class="am-u-sm-9">
                                                    <select style="background-color:rgb(75, 83, 87);" id="doc-select-1"
                                                            v-model="status">
                                                        <option v-for="(item, index) in tableStatus"
                                                                v-bind:value="index">{{item}}
                                                        </option>
                                                    </select>

                                                </div>
                                            </div>

                                            <div class="am-form-group">
                                                <label class="am-u-sm-3 am-form-label">可坐人数</label>
                                                <div class="am-u-sm-9">
                                                    <input type="text" v-model="capacity" placeholder="可坐人数">
                                                </div>
                                            </div>

                                            <div class="am-form-group">
                                                <label class="am-u-sm-3 am-form-label">已坐人数</label>
                                                <div class="am-u-sm-9">
                                                    <input type="text" v-model="sitReal" placeholder="已坐人数">
                                                </div>
                                            </div>

                                            <div class="am-form-group">
                                                <div class="am-u-sm-9 am-u-sm-push-3">
                                                    <button @click="editTable" type="button"
                                                            class="am-btn am-btn-primary tpl-btn-bg-color-success ">
                                                        提交
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<script src="../js/controller.js"></script>
<script src="../js/global_admin_vue.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/amazeui.datatables.min.js"></script>
<script src="assets/js/dataTables.responsive.min.js"></script>
<script src="assets/js/app.js"></script>
<script type="text/javascript">
    var contentWrapper = new Vue({
            el: '.tpl-content-wrapper',
            data: {
                tableStatus: [
                    '空闲',
                    '使用中',
                    '已预订'
                ],
                tableId: '',
                merchantId: 0,
                tableNo: '',
                capacity: '',
                status: '',
                sitReal: 0,
                tableList: []
            },
            created: function () {
                this.merchantId = userInfo.id;
                console.log("获取到的商户id为: " + this.merchantId);
                leftSidebar.mapMenu(window.location.href);
                this.getTable();
            },
            methods: {
                getTable: function () {
                    var result = merchantTableController.getAll(this.merchantId);
                    this.tableList = result.data.merchantTableList;
                    console.log(this.tableList);
                },
                deleteTable: function (tableId) {
                    var userConfirm = confirm("确定删除吗?");
                    console.log(tableId + " " + userConfirm);
                    if (!userConfirm) {
                        return;
                    }
                    merchantTableController.deleteTable(tableId);
                },
                editTable: function () {
                    if (isNaN(this.capacity) || isNaN(this.sitReal)) {
                        alert("这个人数不太合适吧～");
                        return;
                    }
                    var result = merchantTableController.updateTbale(this.tableId, this.tableNo, this.merchantId, this.status, this.sitReal, this.capacity);
                    if (result.status == 0) {
                        console.log("修改成功");
                        $('#your-modal').modal('close');
                        window.location.reload();
                    }
                    alert(result.msg);
                },
                editTableModal: function (tableId, tableNo, status, sitReal, capacity) {
                    this.tableId = tableId;
                    this.tableNo = tableNo;
                    this.capacity = capacity;
                    this.status = status;
                    this.sitReal = sitReal;

                    var options = {
                        dimmer: false
                    };
                    var $modal = $('#your-modal');
                    $modal.modal(options);
                }
                ,
                getCategory: function () {
                    var result = menuController.getAllCategory(this.merchantId);
                    if (result.status == 0) {
                        this.categoryList = result.data;
                        this.categoryId = this.categoryList[0].id;
                    } else {
                        console.log("获取分类失败");
                        console.log(result);
                    }
                }
            }
        })
    ;
</script>
</body>

</html>